body {
    background-color: #aa97ff;
}

/* Style du conteneur principal */
.container {
    background-color: #75caf8; /* Couleur de fond */
    font-family: 'Grape Nuts', cursive; /* Police de caractères */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    max-width: 600px; /* Largeur maximale du conteneur */
    margin: auto; /* Centrage horizontal du conteneur */
    padding: 20px; /* Espacement intérieur */
    min-height: 100vh; /* Hauteur minimale équivalente à la taille de l'écran */
    border-radius: 30px; /* Arrondit les coins de la bordure */
}

/* Style des formulaires à l'intérieur du conteneur */
.container form {
    text-align: center; /* Centrage horizontal des éléments du formulaire */
    margin-bottom: 20px; /* Espacement en bas des formulaires */
}

/* Style des champs de texte */
.container input[type="text"] {
    width: 60%; /* Largeur du champ de texte */
    margin: 20px; /* Espacement entre les champs de texte */
}

/* Style des boutons */
.container button {
    margin-top: 10px; /* Espacement du haut du bouton */
    border-radius: 20px; /* Arrondit les coins de la bordure */
}

/* Style global pour tous les éléments */
* {
    color: hsl(279, 99%, 43%); /* Couleur de texte pour tous les éléments */
}

/* Style des titres h1 et h2 */
h1, h2 {
    margin: 30px; /* Espacement autour des titres */
    text-align: center; /* Centrage horizontal des titres */
    letter-spacing: 3px; /* Espacement entre les lettres */
    text-transform: uppercase; /* Conversion en majuscules */
    text-shadow: 3px 2px 3px rgb(96, 63, 245); /* Ombre portée */
}

/* Style au survol des boutons */
button:hover {
    background: #aa97ff; /* Changement de couleur de fond */
}

/* Style des cases à cocher */
input[type="checkbox"] {
    margin-right: 10px; /* Espacement à droite des cases à cocher */
    margin-bottom: 5px; /* Espacement en bas des cases à cocher */
    display: block; /* Affichage en bloc pour centrer les cases à cocher les unes sous les autres */
}

/* Style du bouton Supprimer */
button[name="delete"] {
    margin-top: 20px; /* Légèrement plus haut pour déplacer le bouton vers le haut */
}

