body  {
    Background-image : url('c:\Users\JenniferROZAT\Desktop\mangas\img.jpg') ;
    Background-size : cover ; /* Ajuste la taille de l’image pour remplir l’écran */
    Background-position : center ; /* Centre l’image */
    Font-family : Arial, sans-serif ; /* Choisir la police de votre choix */
}
.container {
    /* Ajoutez vos styles pour le contenu de la page ici */
}
