body  {
    background-color: darkgray;
    Background-size : cover; 
}
#img-container {
    background-image: url('Design sans titre.png');
    background-size: cover;
    background-position: center;
}   
